<mat-form-field class="{{formClass}}">
  <mat-label>{{placeholder}}</mat-label>
  <input
    type="text"
    matInput
    (focus)="getData()"
    [formControl]="myControl"
    [matAutocomplete]="auto"
    #trigger="matAutocompleteTrigger"
  />
  <mat-autocomplete [displayWith]="displayFn" #auto="matAutocomplete" (optionSelected)="onSelect($event);">
    @for (option of filteredOptions | async; track option) {
    <mat-option [value]="option">{{ option?.name }}</mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
