@if (form) {
<form [formGroup]="form" class="grid grid-cols-3 gap-1">
  <mat-form-field class="w-full col-span-2">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" cdkFocusInitial required />
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>SKU</mat-label>
    <input matInput formControlName="sku" />
  </mat-form-field>

  <mat-form-field class="w-full col-span-2">
    <mat-label>Item category</mat-label>
    <input matInput formControlName="itemcategory" />
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>On hand</mat-label>
    <input matInput formControlName="onhand" type="number" class="text-right" />
  </mat-form-field>

  <mat-form-field class="w-full col-span-2">
    <mat-label>Type</mat-label>
    <input matInput formControlName="type" />
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Price</mat-label>
    <input matInput formControlName="price" type="number" class="text-right" />
  </mat-form-field>

  <div class="text-right col-span-3 mt-3">
    <button
      mat-flat-button
      #btnSave
      [disabled]="form.invalid || !form.dirty"
      (click)="save(btnSave)"
    >
      Save
    </button>
  </div>

  <mat-list class="col-span-3">
    <div mat-subheader class="pb-0 pr-0 pt-0">
      <!-- <mat-icon type="button">attach_file</mat-icon> -->
      Files
    </div>
    <div
      ng2FileDrop
      [ngClass]="{ 'file-over': hasDropZoneOver }"
      (fileOver)="hasDropZoneOver = $event"
      [uploader]="uploader"
      class="drop-zone mb-4"
    >
      <mat-icon>cloud_upload</mat-icon>
      drop a file here to upload
      <input
        type="file"
        ng2FileSelect
        [uploader]="uploader"
        id="uploader-input"
      />
    </div>
    <mat-list-item
      class="pt-1 pb-1 shadow-md mb-1"
      *ngFor="let file of form.value.files; let i = index"
    >
      <div class="flex items-center">
        <div class="flex-auto">
          <p class="mb-0 mt-0">{{ file.name }}</p>
          <small class="text-gray-400"
            >size: {{ file.size | pipeFileSize }}, created:
            {{ file.created | date : "dd/MM/yyyy HH:mm" }}</small
          >
        </div>

        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>save_alt</mat-icon>
            <span>Download</span>
          </button>
          <button mat-menu-item (click)="remove(i)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </div>
    </mat-list-item>
  </mat-list>
</form>
}
